<%- include("partials/header") %> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('partials/sidebar') %> 
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('partials/navbar') %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">
                    <h4><b>Update Car Information</b></h4>
                    <form action="/api/cars/<%= dataPilih.id %> " method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" cl   ass="form-label">Nama</label>
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="Avanza" value="<%= dataPilih.nama ? dataPilih.nama : '' %> " required>
                          </div>
                          <div class="mb-3">
                            <label for="description" class="form-label">Sewa Per Hari</label>
                            <input type="text" class="form-control" name="sewa" id="sewa" placeholder="Rp 0,-" value="<%= dataPilih.sewa ? dataPilih.sewa : '' %>" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="driver">Ukuran</label>
                                <select class="custom-select" id="driver" name="ukuran">
                                    <option selected value=" <%= dataPilih.ukuran %>"><%= dataPilih.ukuran ? dataPilih.ukuran : '' %> <strong>(Current Value)</strong></option>
                                    <option value="Small">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                </select>
                        </div>
                          <div class="mb-3">
                            <label for="cover" class="form-label">Foto</label>
                            <input type="file" class="form-control" name="image" id="image" value="images/<%= dataPilih.image %> " placeholder="https://placeimg.com/640/480/any">
                          </div>
                        <button type="button" class="btn btn-danger">Cancel</button>
                        <button type="submit" class="btn btn-success"><b>Save</b></button>
                    </form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('partials/footer') %> 
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            axios
            .put(`http://localhost:3000/api/cars/${id}`, formData, {
                headers: {
                "Content-Type": "multipart/form-data",
                },
            })
            .then((res) => {
                console.log(res);
            })
            .catch((err) => {
                console.log(err);
            });
        });
    </script> -->

</body>

</html>